*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#151516;
}
.card{
    height: 530px
}
#nav-bar{ 
width: 100%;
height: 120px;
background: #000000;
}
.brand-logo{
    color: #EE0466;
}
.card{
    border: 50px;
    background-color: rgba(0, 0, 0, 0.226)
}
textarea.materialize-textarea {
    background-color: #f44336;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
}
#second-page{
    display: none
}
#title-page-initial, #paragraph-initial {

    text-align: center;
    color: white;
}
#title-page-initial{
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 30px;
}
#paragraph-initial{
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
margin-bottom: 25px;
}
#select-btn{
padding: 0px 12px;
}
.btn1, .btn2{
background-color: #C4C4C4;;
color:#696969;
margin-bottom: 20px;
margin: 8px;
font-size: 16px;
}
.pregunta1, .pregunta2, .pregunta3{
text-align: center;
}
.pregunta1 p, .pregunta2 p, .pregunta3 p{
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 18px;
color: white;
margin-top: 3rem;
}
img.responsive-img, video.responsive-video {
max-width: 100%;
height: auto;
}
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 18px;
    margin: 0 0 8px 0;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    color: #ffff;
}

.material-icons{
    font-size: 60px;
}
.tamaño{
    margin: 1rem;
    width: 15rem;
}